In [48]:
fn = 'Abi-10-100m-Back.txt'
name, age, distance, stroke = fn.removesuffix(".txt").split("-")

In [49]:
name, age

('Abi', '10')

In [50]:
distance, stroke

('100m', 'Back')

In [51]:
import os

FOLDER = "swimdata/"

files = os.listdir(FOLDER)
files.remove(".DS_Store")

In [52]:
first = files[0]
print(first)
name, age, _, _ = first.removesuffix(".txt").split("-")
name, age

Abi-10-100m-Back.txt

('Abi', '10')

In [53]:
import DBcm

db_details = "CoachDB.sqlite3"

In [54]:
SQL_INSERT = """
    insert into swimmers
    (name, age)
    values
    (?, ?)
"""

In [55]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_INSERT, (name, age))

In [56]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("select * from swimmers")
    results = db.fetchall()
results

[(145, 'Abi', 10),
 (146, 'Abi', 10),
 (147, 'Abi', 10),
 (148, 'Abi', 10),
 (149, 'Abi', 10),
 (150, 'Ali', 12),
 (151, 'Ali', 12),
 (152, 'Alison', 14),
 (153, 'Alison', 14),
 (154, 'Aurora', 13),
 (155, 'Bill', 18),
 (156, 'Bill', 18),
 (157, 'Blake', 15),
 (158, 'Blake', 15),
 (159, 'Blake', 15),
 (160, 'Calvin', 9),
 (161, 'Calvin', 9),
 (162, 'Calvin', 9),
 (163, 'Carl', 15),
 (164, 'Chris', 17),
 (165, 'Chris', 17),
 (166, 'Darius', 13),
 (167, 'Darius', 13),
 (168, 'Darius', 13),
 (169, 'Darius', 13),
 (170, 'Dave', 17),
 (171, 'Dave', 17),
 (172, 'Elba', 14),
 (173, 'Emma', 13),
 (174, 'Emma', 13),
 (175, 'Erika', 15),
 (176, 'Erika', 15),
 (177, 'Erika', 15),
 (178, 'Hannah', 13),
 (179, 'Hannah', 13),
 (180, 'Katie', 9),
 (181, 'Katie', 9),
 (182, 'Katie', 9),
 (183, 'Katie', 9),
 (184, 'Katie', 9),
 (185, 'Katie', 9),
 (186, 'Katie', 9),
 (187, 'Lizzie', 14),
 (188, 'Lizzie', 14),
 (189, 'Maria', 9),
 (190, 'Mike', 15),
 (191, 'Mike', 15),
 (192, 'Mike', 15),
 (193, 'Mike', 15),
 (194, 'Mike', 15),
 (195, 'Owen', 15),
 (196, 'Ruth', 13),
 (197, 'Ruth', 13),
 (198, 'Ruth', 13),
 (199, 'Ruth', 13),
 (200, 'Ruth', 13),
 (201, 'Tasmin', 15),
 (202, 'Tasmin', 15),
 (203, 'Tasmin', 15),
 (204, 'Tasmin', 15),
 (205, 'Abi', 10)]

In [57]:
SQL = "delete from swimmers"
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [58]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("select * from swimmers")
    results = db.fetchall()
results

[]

In [59]:
import os

import DBcm

db_details = "CoachDB.sqlite3"

FOLDER = "swimdata/"

files = os.listdir(FOLDER)
files.remove(".DS_Store")

SQL_INSERT = """
    insert into swimmers
    (name, age)
    values
    (?, ?)
"""

In [60]:
with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, _, _ = fn.removesuffix(".txt").split("-")
        db.execute(SQL_INSERT, (name, age,))

In [ ]:
import os

import DBcm

db_details = "CoachDB.sqlite3"

FOLDER = "swimdata/"

files = os.listdir(FOLDER)
files.remove(".DS_Store")

SQL_SELECT = """
    select * from swimmers
    where name = ? and age = ?
"""

SQL_INSERT = """
    insert into swimmers
    (name, age)
    values
    (?, ?)
"""

with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, _, _ = fn.removesuffix(".txt").split("-")
        db.execute(SQL_SELECT, (name, age,))
        if db.fetchall():
            continue
        db.execute(SQL_INSERT, (name, age,))

In [62]:
import os

import DBcm

db_deetails = "CoachDB.sqlite3"

FOLDER = "swimdata/"

files = os.listdir(FOLDER)
files.remove(".DS_Store")

SQL_SELECT = """
    select * from events
    where distance = ? and stroke = ?
"""

SQL_INSERT = """
    insert into events
    (distance, stroke)
    values
    (?, ?)
"""

with DBcm.UseDatabase(db_deetails) as db:
    for fn in files:
        _, _, distance, stroke = fn.removesuffix(".txt").split("-")
        db.execute(SQL_SELECT, (distance, stroke,))
        if db.fetchall():
            continue
        db.execute(SQL_INSERT, (distance, stroke,))

In [63]:
SQL = """select * from events"""
with DBcm.UseDatabase(db_deetails) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(1, '100m', 'Back'),
 (2, '100m', 'Breast'),
 (3, '50m', 'Back'),
 (4, '50m', 'Breast'),
 (5, '50m', 'Free'),
 (6, '100m', 'Free'),
 (7, '200m', 'Back'),
 (8, '100m', 'Fly'),
 (9, '50m', 'Fly'),
 (10, '200m', 'IM'),
 (11, '200m', 'Breast'),
 (12, '200m', 'Free'),
 (13, '400m', 'Free')]

In [64]:
with DBcm.UseDatabase(db_deetails) as db:
    db.execute("pragma table_info(times)")
    results = db.fetchall()
results

[(0, 'swimmer_id', 'INTEGER', 1, None, 0),
 (1, 'event_id', 'INTEGER', 1, None, 0),
 (2, 'time', 'varchar(16)', 1, None, 0),
 (3, 'ts', 'timestamp', 0, 'current_timestamp', 0)]

In [ ]:
import os

FOLDER = "swimdata/"

files = os.listdir(FOLDER)
files.remove(".DS_Store")

import DBcm

db_details = "CoachDB.sqlite3"

SQL_GET_SWIMMER = """
    select id from swimmers
    where name = ? and age = ?
"""

SQL_GET_EVENT = """
    select id from events
    where distance = ? and stroke = ?
"""

SQL_INSERT = """
    insert into times
    (swimmer_id, event_id, time)
    values
    (?, ?, ?)
"""

with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, distance, stroke = fn.removesuffix(".txt").split("-")
        db.execute(SQL_GET_SWIMMER, (name, age,))
        s_id = db.fetchone()[0]
        db.execute(SQL_GET_EVENT, (distance, stroke,))
        e_id = db.fetchone()[0]
        with open(FOLDER + fn) as sf:
            times = sf.read().strip().split(",")
            for t in times:
                db.execute(SQL_INSERT, (s_id, e_id, t, ))

In [67]:
SQL = """select count(*) from times"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchone()[0]
results

338

In [68]:
SQL = """select * from times limit 10"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(206, 1, '1:31.59', '2025-08-05 09:10:59'),
 (206, 1, '1:26.55', '2025-08-05 09:10:59'),
 (206, 1, '1:28.75', '2025-08-05 09:10:59'),
 (206, 1, '1:39.79', '2025-08-05 09:10:59'),
 (206, 1, '1:32.37', '2025-08-05 09:10:59'),
 (206, 2, '1:42.97', '2025-08-05 09:10:59'),
 (206, 2, '1:43.31', '2025-08-05 09:10:59'),
 (206, 2, '1:43.50', '2025-08-05 09:10:59'),
 (206, 2, '1:40.34', '2025-08-05 09:10:59'),
 (206, 3, '41.50', '2025-08-05 09:10:59')]