In [1]:
import data_utils

In [2]:
print([x for x in dir(data_utils) if not x.startswith("__")])

['DBcm', 'SQL_CHART_DATA_BY_SWIMMER_EVENT_SESSION', 'SQL_SESSIONS', 'SQL_SWIMMERS_BY_SESSION', 'SQL_SWIMMERS_EVENTS_BY_SESSION', 'db_details', 'get_session_swimmers', 'get_swim_sessions', 'get_swimmers_events', 'get_swimmers_times']

In [3]:
help(data_utils.get_swim_sessions)

Help on function get_swim_sessions in module data_utils:

get_swim_sessions()

In [4]:
data_utils.get_swim_sessions()

[('2025-08-05 09:10:59',),
 ('2025-08-05 09:11:00',),
 ('2025-08-05 10:02:44',),
 ('2025-08-05 10:06:22',),
 ('2025-08-05 10:10:22',),
 ('2025-08-05 10:10:37',),
 ('2025-08-05 10:13:04',)]

In [5]:
data_utils.get_session_swimmers("2025-08-05")

[('Abi', 10),
 ('Ali', 12),
 ('Alison', 14),
 ('Aurora', 13),
 ('Bill', 18),
 ('Blake', 15),
 ('Calvin', 9),
 ('Carl', 15),
 ('Chris', 17),
 ('Darius', 13),
 ('Darius', 8),
 ('Dave', 17),
 ('Elba', 14),
 ('Emma', 13),
 ('Erika', 15),
 ('Hannah', 13),
 ('Katie', 9),
 ('Lizzie', 14),
 ('Maria', 9),
 ('Mike', 15),
 ('Owen', 15),
 ('Ruth', 13),
 ('Tasmin', 15)]

In [6]:
data_utils.get_swimmers_events("Darius", 8, "2025-08-05")

[('50m', 'Back'), ('50m', 'Breast'), ('50m', 'Free')]

In [8]:
data_utils.get_swimmers_times("Darius", 8, "50m", "Free", "2025-08-05")

[('39.42',),
 ('36.13',),
 ('37.66',),
 ('39.07',),
 ('39.42',),
 ('36.13',),
 ('37.66',),
 ('39.07',),
 ('39.42',),
 ('36.13',),
 ('37.66',),
 ('39.07',),
 ('39.42',),
 ('36.13',),
 ('37.66',),
 ('39.07',),
 ('39.42',),
 ('36.13',),
 ('37.66',),
 ('39.07',)]

In [9]:
data = data_utils.get_swim_sessions()
data

[('2025-08-05 09:10:59',),
 ('2025-08-05 09:11:00',),
 ('2025-08-05 10:02:44',),
 ('2025-08-05 10:06:22',),
 ('2025-08-05 10:10:22',),
 ('2025-08-05 10:10:37',),
 ('2025-08-05 10:13:04',)]

In [10]:
[session[0].split(" ")[0] for session in data]

['2025-08-05',
 '2025-08-05',
 '2025-08-05',
 '2025-08-05',
 '2025-08-05',
 '2025-08-05',
 '2025-08-05']

In [11]:
data = data_utils.get_session_swimmers("2025-08-05")
print(data)

[('Abi', 10), ('Ali', 12), ('Alison', 14), ('Aurora', 13), ('Bill', 18), ('Blake', 15), ('Calvin', 9), ('Carl', 15), ('Chris', 17), ('Darius', 13), ('Darius', 8), ('Dave', 17), ('Elba', 14), ('Emma', 13), ('Erika', 15), ('Hannah', 13), ('Katie', 9), ('Lizzie', 14), ('Maria', 9), ('Mike', 15), ('Owen', 15), ('Ruth', 13), ('Tasmin', 15)]

In [14]:
print([f"{swimmer[0]}-{swimmer[1]}" for swimmer in data])

['Abi-10', 'Ali-12', 'Alison-14', 'Aurora-13', 'Bill-18', 'Blake-15', 'Calvin-9', 'Carl-15', 'Chris-17', 'Darius-13', 'Darius-8', 'Dave-17', 'Elba-14', 'Emma-13', 'Erika-15', 'Hannah-13', 'Katie-9', 'Lizzie-14', 'Maria-9', 'Mike-15', 'Owen-15', 'Ruth-13', 'Tasmin-15']

In [15]:
data = data_utils.get_swimmers_events("Darius", 8, "2025-08-05")
data

[('50m', 'Back'), ('50m', 'Breast'), ('50m', 'Free')]

In [17]:
print([f"{event[0]} {event[1]}" for event in data])

['50m Back', '50m Breast', '50m Free']

In [20]:
data = data_utils.get_swimmers_times("Darius", 8, "50m", "Free", "2025-08-05")
data

[('39.42',),
 ('36.13',),
 ('37.66',),
 ('39.07',),
 ('39.42',),
 ('36.13',),
 ('37.66',),
 ('39.07',),
 ('39.42',),
 ('36.13',),
 ('37.66',),
 ('39.07',),
 ('39.42',),
 ('36.13',),
 ('37.66',),
 ('39.07',),
 ('39.42',),
 ('36.13',),
 ('37.66',),
 ('39.07',)]

In [22]:
[time[0] for time in data]

['39.42',
 '36.13',
 '37.66',
 '39.07',
 '39.42',
 '36.13',
 '37.66',
 '39.07',
 '39.42',
 '36.13',
 '37.66',
 '39.07',
 '39.42',
 '36.13',
 '37.66',
 '39.07',
 '39.42',
 '36.13',
 '37.66',
 '39.07']